@media screen and (min-width: 1024px) {
    .body_app{
        margin: 0 auto;
        width:60%
    }
}

@media screen and (min-width:1440px) {
    .body_app{
        width: 100%;
        max-width: 1260px;
    }
}