.footer {
text-align: center;
margin-top:0;
color: #E72200FF ;
}

.img_footer_logo {
    height: 145px;
	width: 145px;
    text-align:center;
    margin: 0 auto;
    display:flex;
    margin-bottom: -30px;
}